*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url(body.jpg);
    color: blanchedalmond;
    backdrop-filter: blur(8px);
    background-size: cover;
}
tr {
    color: aliceblue;
}
h2{
    text-align: center;
}

form{

    font-weight: bold;
    text-align: left;
    max-width: 400px;
    margin-left: 350px;
    padding: 20px;
    border-radius: 10px;
    
}
